/* Colors are defined by theme file and can be referenced via @base, @text, @selected-text, and @border */
* {
  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font";
  font-size: 11pt;
}

window,
#outer-box,
#inner-box,
#scroll,
#input,
#entry {
  color: @text;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

window {
  background-color: alpha(@base, 0.95);
  border: 1px solid alpha(@selected-text, 0.5);
}

#input {
  margin: 10px;
}

#scroll {
  margin: 0 10px 10px 10px;
}

#entry {
  padding: 5px 10px;
}

#entry:selected {
  background-color: alpha(@selected-text, 0.15);
}

#entry:selected #text {
  color: @selected-text;
}

#entry #img {
  padding: 0 10px 0 0;
  opacity: 0.8;
}

#entry:selected #img {
  opacity: 1;
}

@import ".config/omadora/current/theme/wofi.css";
