[Unit]
Description=Omadora Weather Check Timer
PartOf=omadora-session.target
ConditionPathExists=!%h/.local/state/omadora/toggles/weather-check-off

[Timer]
OnActiveSec=5s
OnUnitActiveSec=15m
AccuracySec=1s

[Install]
WantedBy=omadora-session.target
