@import "../omadora/current/theme/waybar.css";

* {
  border-radius: 0;
  border: none;
  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font";
  font-size: 10.5pt;
  min-height: 0;
}

#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 0.35rem;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-expand-icon,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-omadora,
#custom-screenrecording-indicator,
#custom-update,
#custom-weather,
#network,
#pulseaudio,
#tray,
#workspaces {
  padding: 0 0.55rem;
}

#battery,
#bluetooth,
#cpu,
#custom-expand-icon,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-omadora,
#custom-screenrecording-indicator,
#custom-update,
#custom-weather,
#network,
#pulseaudio,
#workspaces button {
  min-width: 2em;
  padding: 0;
}

#custom-weather.stale,
#custom-update.stale,
#workspaces button.empty {
  opacity: 0.5;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active,
#custom-screenrecording-indicator.active,
#custom-update.error,
#custom-update.reboot-required,
#custom-update.relaunch-required,
#custom-update.security,
#custom-weather.error {
  color: #a55555;
}
